<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for ("static", filename="styles.css")}}">
</head>
<body>
    <h1>Wlcome to my App</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit praesentium minima quos? Sunt minima quos nulla aspernatur obcaecati debitis recusandae et saepe distinctio fugiat, fugit necessitatibus, voluptatem sapiente natus aut?
    </p>
</body>
</html>